<div class="alert alert-primary alert-dismissable show fade d-flex flex-column"
[ngClass]="data.done ? 'alert-success' : 'alert-danger'">
  <div class="d-block">
      <span>{{data.id}} - <strong>{{data.title}}</strong></span>
      <p>{{data.done ? 'Complete' : 'Pending'}}</p>
      <span>{{data.info}}</span>
  </div>
  <div class="d-block text-right">
    <button type="button" class="btn btn-danger m-1" (click)="eventDeleteTask.emit(data.id)">
      <span class="material-icons">delete_outline</span>
    </button>
    <button type="button" class="btn btn-success m-1" (click)="eventDoneTask.emit(data.id)">
      <span class="material-icons">done</span>
    </button>
    <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target="#modal-todo" (click)="eventEditTask.emit(data)">
      <span class="material-icons">edit</span>
    </button>
  </div>
</div>

